$color-primary: #008b8b;
$color-secondary: #5c2be2;
$color-tertiary: #0000ff;
$color-white: #fff;
$color-black: #000;

// chess style
$color-chessboard: #814b15;
$chess-size: 60px;
$chessboard-height: 991px;
$chessboard-width: 1201px;