*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 15px
    font-size: 62.5%;
}

$color-primary: #008b8b;
$color-secondary: #5c2be2;
$color-tertiary: #0000ff;
$color-white: #fff;
$color-black: #000;

// chess style
$color-chessboard: #814b15;
$chess-size: 60px;
$chessboard-height: 990px;
$chessboard-width: 1200px;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-primary;
    height: 5.5rem;
    padding: 1rem;
    color: $color-white;
    position: sticky;
    top: 0;
    z-index: 999;

    &__title {
        flex: auto;
        font-size: 1.5rem;
    }

    &__btn {
        width: auto;
        padding: 2rem;
        font-size: 2rem;
        background-color: $color-secondary;
        border-radius: 0.5rem;
        z-index: 999;

        &--hide {
            display: none;
        }
    }

    &__btn:hover {
        background-color: darken($color: $color-secondary, $amount: 10%);
    }
}

.pointer {
    cursor: pointer;
}

.chessboard {
    margin: 0.4rem auto;
    width: calc(100% - 2rem);
    max-width: $chessboard-width;
    height: $chessboard-height;

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: $chess-size;
    }

    &__column {
        
        width: $chess-size;
        height: $chess-size;

        &.selected {
            cursor: not-allowed;
        }
        
        &:hover:not(.selected) {
            outline: $color-primary solid 0.2rem;
            z-index: 1;
        }

        &:hover:not(.selected):after {
            content: ' ';
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            bottom: $chess-size;
            background-color: rgba($color-black, 0.25);
        }
    }

    &__grid {
        display: flex;
        flex-direction: row;
        background-color: $color-chessboard;
        height: calc(#{$chess-size} / 2);

        .chessboard__block {
            width: calc(#{$chess-size} / 2);
            height: calc(#{$chess-size} / 2);
        }

        .chessboard__block--top-left {
            border-bottom: $color-black solid 1px;
        }

        .chessboard__block--top-right {
            border-left: $color-black solid 1px;
        }
        
        .chessboard__block--bottom-left {
            border-right: $color-black solid 1px;
        }
        
        .chessboard__block--bottom-right {
            border-top: $color-black solid 1px;
        }
    }    
}

.chessman {
    position: relative;
    top: calc(#{$chess-size} / 4 * 3 * -1);
    left: calc(#{$chess-size} / 4 * 1);
    border-radius: 50%;
    box-shadow: 0 6px 20px 0px rgba($color-black, 0.4);
    z-index: 1;

    &__div {
        width: calc(#{$chess-size} / 2);
        height: calc(#{$chess-size} / 2);

        &--white {
            background-color:$color-white;
        }
    
        &--black {
            background-color:$color-black;
        }
    }

    &--victory {
        z-index: 3;
    }    

    &__overlay {
        position: relative;
        bottom: $chess-size * 1.5;
        width: $chess-size;
        height: $chess-size;
        margin: 0 auto;
        border-radius: 50%;

        &--last {
            animation: notice 1.5s infinite;
        }
        
        &--victory {
            z-index: 2;
            animation: victory 1.5s infinite;
        }
    }
}

.gameover {
    &__overlay {
        z-index: 1;
        position:  fixed;
        // top: 5.5rem;
        top: 0;
        width:  100vw;
        height: 100vh;
        background: rgba($color-black, 0.4);
    }

    &__message {
        position: fixed;
        bottom: 2rem;
        font-size: 3rem;
        font-weight: bolder;
        text-align: center;
        z-index: 3;
        width: 100%;
        color: $color-white;
    }

    &--hide {
        display: none;
    }
}

// https://codepen.io/olam/pen/zcqea?editors=1100
@mixin overlay($name, $color) {
    @keyframes #{$name} {
        @content;
        0% {
            width: $chess-size / 2;
            height: $chess-size / 2;
            transform: translateY($chess-size / 4);
            background-color: rgba($color, 0.9);
        }   
        
        70% {
            width: $chess-size;
            height: $chess-size;
            transform: translateY(-0.3rem);
            background-color: rgba($color, 0);
        }
    
        100% {
            width: $chess-size / 2;
            height: $chess-size / 2;
            transform: translateY($chess-size / 4);
            background-color: rgba($color, 0);
        }
    }
}


@include overlay(notice, $color-tertiary) {}
@include overlay(victory, lighten($color-primary, 10%)) {}