.chessman {
    position: relative;
    top: $chess-size / 4;
    left: $chess-size / 4 ;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1.3rem 0 rgba($color-black, 0.4);
    z-index: 1;

    &__div {
        width: calc(#{$chess-size} / 2);
        height: calc(#{$chess-size} / 2);

        &--white {
            background-color:$color-white;
        }
    
        &--black {
            background-color:$color-black;
        }
    }

    &--victory {
        z-index: 2;
    }    

    &__overlay {
        position: relative;
        bottom: $chess-size * 0.5;
        width: $chess-size;
        height: $chess-size;
        margin: 0 auto;
        border-radius: 50%;

        &--last {
            animation: notice 1.5s infinite;
        }
        
        &--victory {
            z-index: 1;
            animation: victory 1.5s infinite;
        }
    }
}