.chessman {
    position: relative;
    top: calc(#{$chess-size} / 4 * 1);;
    left: calc(#{$chess-size} / 4 * 1);
    border-radius: 50%;
    box-shadow: 0 6px 20px 0px rgba($color-black, 0.4);
    z-index: 1;

    &__div {
        top: calc(#{$chess-size} / 4 * 3 * -1);
        width: calc(#{$chess-size} / 2);
        height: calc(#{$chess-size} / 2);

        &--white {
            background-color:$color-white;
        }
    
        &--black {
            background-color:$color-black;
        }
    }

    &--victory {
        z-index: 2;
    }    

    &__overlay {
        position: relative;
        bottom: $chess-size * 0.5;
        width: $chess-size;
        height: $chess-size;
        margin: 0 auto;
        border-radius: 50%;

        &--div {
            bottom: $chess-size * 1.5;
        }

        &--last {
            animation: notice 1.5s infinite;
        }
        
        &--victory {
            z-index: 1;
            animation: victory 1.5s infinite;
        }
    }
}