.chessboard {
    position: relative;
    margin: 0.4rem auto;
    width: calc(100% - 2rem + 1px);
    max-width: $chessboard-width;
    height: $chessboard-height;
    padding-bottom: $chess-size / 2;
    background-color: $color-chessboard;

    &__grid {
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &--div {
            background:
                -webkit-linear-gradient(top, transparent calc(#{$chess-size} - 1px), $color-black $chess-size),
                -webkit-linear-gradient(left, transparent calc(#{$chess-size} - 1px), $color-black $chess-size);
            background:
                -moz-linear-gradient(top, transparent calc(#{$chess-size} - 1px), $color-black $chess-size),
                -moz-linear-gradient(left, transparent calc(#{$chess-size} - 1px), $color-black $chess-size);
            background:
                -o-linear-gradient(top, transparent calc(#{$chess-size} - 1px), $color-black $chess-size),
                -o-linear-gradient(left, transparent calc(#{$chess-size} - 1px), $color-black $chess-size);
            background:
                -ms-linear-gradient(top, transparent calc(#{$chess-size} - 1px), $color-black $chess-size),
                -ms-linear-gradient(left, transparent calc(#{$chess-size} - 1px), $color-black $chess-size);
            background:
                linear-gradient(top, transparent calc(#{$chess-size} - 1px), $color-black $chess-size),
                linear-gradient(left, transparent calc(#{$chess-size} - 1px), $color-black $chess-size);                
            background-size: $chess-size $chess-size;
            background-repeat: repeat;
            border-left: 1px solid;
            border-top: 1px solid;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: $chess-size;
    }

    &__column {
        
        width: $chess-size;
        height: $chess-size;
        z-index: 1;

        &--victory {
            z-index: 2;
        }

        &.selected {
            cursor: not-allowed;
        }
        
        &:hover:not(.selected) {
            outline: $color-primary solid 0.2rem;
            z-index: 1;
        }

        &:hover:not(.selected):after {
            @include chessboard__column--outlay();
        }        
    }
}

// IE10+
// https://stackoverflow.com/a/41714276/5003128
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .chessboard__grid {
        margin-top: $chess-size / 2;
    }
}