.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-primary;
    height: 5.5rem;
    padding: 1rem;
    color: $color-white;
    position: sticky;
    top: 0;
    z-index: 999;

    &__title {
        flex: auto;
        font-size: 1.5rem;

        span {
            margin-left: 8rem;
        }
    }

    a {
        text-decoration: none;
    }
    
    .octocat {
        vertical-align: middle;
        height: 5.5rem;
        width: auto;
    }

    .view-on-github {
        position: absolute;
        top: 0;
        left: 0;
        height: 110px;
        z-index: 1;        
    }

    &__btn {
        position: relative;
        width: auto;
        padding: 1rem;
        font-size: 2rem;
        background-color: $color-secondary;
        border-radius: 0.5rem;
        z-index: 999;
        margin-left: 0.5rem;

        &--hide {
            display: none;
        }
    }

    &__btn:hover {
        background-color: darken($color: $color-secondary, $amount: 10%);
    }
}